Django==5.2.8
gunicorn
whitenoise
opencv-python-headless
numpy>=1.24,<2.3
Pillow
moviepy
imageio-ffmpeg
google-generativeai
google-genai
SpeechRecognition
python-dotenv
requests
asgiref
sqlparse
youtube-transcript-api
yt-dlp
